!!!
.container
  %div.col-md-12.main
    .row
      .col-md-12
        %h1.page-header
          #{@product}
    .row
      .col-md-12
        %h5 Bug Trends
        #bug_trend
    .row
      .col-md-6
        %h5 Bug Priorities
        #bug_prio
      .col-md-6
        %h5 Top 5 Components
        #top_components
    .row.no-hide
      .col-md-12
        %h5 Quality Engineering top 5
        %hr
        %table{:data => {:toggle => "table", :url => "/json/bugzilla/#{@product_}/qe_top_5", :search => "true", :show => {:refresh => "true", :columns => "true"}}}
          %thead
            %tr
              %th{:data => {:field => "url", :sortable => "true", :formatter => "bugzillaFromLink"}}
                Bug Id
              %th{:data => {:field => "summary", :sortable => "true", :class => "summary"}}
                Summary
              %th{:data => {:field => "priority", :sortable => "true", :formatter => "bugzillaPriority"}}
                Priority
              %th{:data => {:field => "component", :sortable => "true"}}
                Component
              %th{:data => {:field => "creation_time", :sortable => "true", :formatter => "timestampReduce"}}
                Creation Time
              %th{:data => {:field => "last_change_time", :sortable => "true", :formatter => "timestampReduce"}}
                Last Change Time
      .col-md-12
        %h5 L3 Bugs
        %hr
        %table{:data => {:toggle => "table", :url => "/json/bugzilla/#{@product_}/openl3", :search => "true", :show => {:refresh => "true", :columns => "true"}}}
          %thead
            %tr
              %th{:data => {:field => "url", :sortable => "true", :formatter => "bugzillaFromLink"}}
                Bug Id
              %th{:data => {:field => "summary", :sortable => "true", :class => "summary"}}
                Summary
              %th{:data => {:field => "priority", :sortable => "true", :formatter => "bugzillaPriority"}}
                Priority
              %th{:data => {:field => "component", :sortable => "true"}}
                Component
              %th{:data => {:field => "creation_time", :sortable => "true", :formatter => "timestampReduce"}}
                Creation Time
              %th{:data => {:field => "last_change_time", :sortable => "true", :formatter => "timestampReduce"}}
                Last Change Time
      %hr
      .col-md-12
        %h5 Bugs
        %hr
        %table{:data => {:toggle => "table", :url => "/json/bugzilla/#{@product_}/openwithoutl3", :search => "true", :show => {:refresh => "true", :columns => "true"}}}
          %thead
            %tr
              %th{:data => {:field => "url", :sortable => "true", :formatter => "bugzillaFromLink"}}
                Bug Id
              %th{:data => {:field => "summary", :sortable => "true", :class => "summary"}}
                Summary
              %th{:data => {:field => "priority", :sortable => "true", :formatter => "bugzillaPriority"}}
                Priority
              %th{:data => {:field => "component", :sortable => "true"}}
                Component
              %th{:data => {:field => "creation_time", :sortable => "true", :formatter => "timestampReduce"}}
                Creation Time
              %th{:data => {:field => "last_change_time", :sortable => "true", :formatter => "timestampReduce"}}
                Last Change Time

!= js :jquery
!= js :jqueryplugin
!= js :bootstrap
!= js :morris
!= js :bootstrap_table
!= js :customjs

:javascript
  $(document).ready(function(){
    bugzilla(#{@colors.to_json}, "#{@product_}");
  });
