!!!
.container
  %div.col-md-12.main
    .row
      %h1.title
        #{@org}/#{@repo}
    .row
      .col-md-12
        %h5 Pull Request Trend
        #pull_trend
    .row
      .col-md-12
        %h5 Pull Requests
        %table{:data => {:toggle => "table", :url => "/json/github/#{@org}/#{@repo}/open", :search => "true", :show => {:refresh => "true", :columns => "true"}}}
          %thead
            %tr
              %th{:data => {:field => "url", :sortable => "true", :formatter => "githubFromLink"}}
                Number
              %th{:data => {:field => "title", :sortable => "true", :class => "summary"}}
                Summary
              %th{:data => {:field => "created_at", :sortable => "true", :formatter => "timestampReduce"}}
                Created at

:javascript
  $(document).ready(function(){
    github(#{@colors.to_json}, "#{@org}", "#{@repo}");
  });
