!!!
.container
  %div.col-sm-9.col-md-10.main
    .row
      %h1.title
        #{@repo}
    .row
      .col-xs-12.col-sm-12
        %h5 Pull Request Trend
        #pull_trend
    .row.no-hide
      .col-xs-12.col-sm-12
        %h5 Pull Requests
        %ul{:id => 'prlist'}
          - @allpulls.each do |pull|
            %li
              %a{:href => "#{pull.url}",
                 :target => "_blank",
                 :creation_time => "#{Time.parse(pull.created_at.to_s).to_i}"}
                #{pull.pr_number} -- #{pull.title}

!= js :jquery
!= js :jqueryplugin
!= js :bootstrap
!= js :morris
!= js :customjs

:javascript
  $(document).ready(function(){
    github(#{@pulltrend},'#{@github_url_all_pulls}',#{@colors.to_json});
    githubCreationTime("#{@theme_type}", #{@colors.to_json});
    $('#searchfilter').quickfilter('#prlist li');
  });
