!!!
%html
  %head
    != css :bootstrap, :media => 'screen'
    != css :morris, :media => 'screen'
    != css :customcss, :media => 'screen'
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title #{@title}
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}
  %body
    %nav.navbar.navbar-default.navbar-static-top{:role => 'navigation'}
      .container
        .navbar-header
          %a.navbar-brand{:href => '/'} #{@title}
        #navbar.navbar-collapse.collapse
          %form.navbar-form.navbar-right
            %input.form-control{:type => 'text', :placeholder => 'Filter', :id => 'searchfilter'}
          %ul.nav.navbar-nav.pull-right
            %li.dropdown
              %a.dropdown-toggle{:role => 'button', :data => {:toggle => 'dropdown'}, :href => '/'}
                Jenkins
                %span.caret
              %ul.dropdown-menu{:role => 'menu'}
                - @jenkins_jobs.each do |job|
                  %li
                    %a{:href => "/jenkins/#{job}"} #{job}
            %li.dropdown
              %a.dropdown-toggle{:role => 'button', :data => {:toggle => 'dropdown'}, :href => '/'}
                Bugzilla
                %span.caret
              %ul.dropdown-menu{:role => 'menu'}
                - @products.each do |product|
                  %li
                    %a{:href => "/#{product.gsub(/ /,'_')}/bugzilla"} #{product}
            %li.dropdown
              %a.dropdown-toggle{:role => 'button', :data => {:toggle => 'dropdown'}, :href => '/'}
                Github
                %span.caret
              %ul.dropdown-menu{:role => 'menu'}
                - @github_repos.each do |repo|
                  %li
                    %a{:href => "/github/#{repo}"} #{repo}
    = yield
    :javascript
      $('.collapse').collapse();
